$primaryBGcolor: #20232a;
$secondaryBGcolor: #282c34;

$primaryFontColor: #e5e5e5;
$secondaryFontColor: #fff;

$primaryFontSize: 1.5rem;
$secondaryFontSize: 1rem;

body {
  background: $primaryBGcolor !important;
  color: $primaryFontColor !important;
  margin: 5% !important;
  .App {
    text-align: center;
  }

  .range {
    -webkit-appearance: none;
    width: 100%;
    background: $secondaryBGcolor;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;

    width: 100%;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: $primaryFontSize;
      height: $primaryFontSize;
      background: $primaryFontColor;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: $primaryFontSize;
      height: $primaryFontSize;
      background: $primaryFontColor;
      cursor: pointer;
    }
  }
  .wrapper {
    margin-top: 10vh;

    &.fadeout {
      animation-name: fadeout;
      animation-duration: 2s;
      animation-fill-mode: forwards;
    }
    &.fadein {
      animation-name: fadein;
      animation-duration: 2s;
      animation-fill-mode: forwards;
    }
    h3 {
      text-decoration: underline;
    }
    hr {
      border: solid 1px #fff;
      width: 100%;
    }
  }
}

/* The animation code */
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* The animation code */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
